<html>
<head>
	<%- css('css/main') %>
	<%- js('js/main') %>
	<%- js('js/bower_components/paper/dist/paper-full.min') %>
	<%- paper('js/main', "myCanvas") %>
	<title></title>
</head>
<body>
	<%- partial('_partial/navigation') %>
	<canvas id="myCanvas" resize></canvas>
</body>
</html>